<mat-form-field>
  <mat-label>{{placeholder}}: </mat-label>
  <input type="text"
         [placeholder]="placeholder"
         aria-label="Number"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto"
         [(ngModel)]="showValue">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="exportValue($event.option.value)">

    <mat-option *ngFor="let model of filteredOptions" [value]="model">
      {{viewPattern(model)}}
    </mat-option>
  </mat-autocomplete>	
</mat-form-field>
<mat-icon>arrow_downward</mat-icon>
<br />
