<app-generic-combo-box [placeholder]="'Select report'" [models]="reports" [viewPattern]="reportRenderFunction" (myEvent)="importReport($event)"></app-generic-combo-box>

<app-generic-combo-box [placeholder]="'Select group'" [models]="groups" [viewPattern]="groupRenderFunction" (myEvent)="importGroup($event)"></app-generic-combo-box>
<app-generic-combo-box [placeholder]="'Select discipline'" [models]="disciplines" [viewPattern]="disciplineRenderFunction" (myEvent)="importDiscipline($event)"></app-generic-combo-box>

<button (click)="getReportData()">Отобразить</button>




<div>
  <ng-container #outlet [ngTemplateOutlet]="content">
  </ng-container>
</div>

<ng-template #content>
  <app-generic-table [tableData]="tableData" [columnHeader]="columnHeader1"></app-generic-table>
</ng-template>
