<div>
  <div>
    <form *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text"
                 name="username"
                 [(ngModel)]="form.username"
                 required
                 id="username"
                 minlength="3"
                 maxlength="20"
                 #username="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
          <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text"
                 name="name"
                 [(ngModel)]="form.name"
                 required
                 minlength="3"
                 maxlength="20"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.errors }" />
          <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">Name is required</div>
            <div *ngIf="name.errors['minlength']">
              Name must be at least 3 characters
            </div>
            <div *ngIf="name.errors['maxlength']">
              Name must be at most 20 characters
            </div>
          </div>
        </mat-form-field>
      </div><div>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput type="text"
                 name="surname"
                 [(ngModel)]="form.surname"
                 required
                 minlength="3"
                 maxlength="20"
                 #surname="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && surname.errors }" />
          <div class="invalid-feedback" *ngIf="surname.errors && f.submitted">
            <div *ngIf="surname.errors['required']">Surname is required</div>
            <div *ngIf="surname.errors['minlength']">
              Surname must be at least 3 characters
            </div>
            <div *ngIf="surname.errors['maxlength']">
              Surname must be at most 20 characters
            </div>
          </div>
        </mat-form-field>
      </div><div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email"
                 name="email"
                 [(ngModel)]="form.email"
                 required
                 email
                 #email="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </mat-form-field>
      </div><div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password"
                 name="password"
                 [(ngModel)]="form.password"
                 required
                 minlength="3"
                 #password="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 3 characters
            </div>
          </div>
        </mat-form-field>
      </div>

      <app-generic-combo-box [placeholder]="'Select role'" [models]="roles" [viewPattern]="renderFunction" (myEvent)="importValue($event)"></app-generic-combo-box>

      <div>
        <button mat-button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
