<h1>laconic test app.component</h1>



<div>

  <nav>
    <a routerLink="/login">Авторизация</a> <br />
    <a routerLink="/register">Регистрация</a> <br />
    <a routerLink="/profile">Профиль</a> <br />
    <a routerLink="/about">О нас</a> <br />
    <a routerLink="/groupManager">Менеджер групп</a> <br />
    <a routerLink="/teacherManager">Менеджер преподавателей</a> <br />
    <a routerLink="/disciplineManager">Менеджер дисциплин(предметов)</a> <br />
    <a routerLink="/studentManager">Менеджер студентов</a> <br />
    <a routerLink="/lessonManager">Менеджер занятий(пар)</a> <br />
    <a routerLink="/visitorManager">Менеджер посещений</a> <br />
    <a routerLink="#">Работа...</a> <br />


  </nav>
  <router-outlet></router-outlet>

</div>

