@use '@angular/material' as mat;
@include mat.core();

$my-theme-primary: mat.define-palette(mat.$indigo-palette, 500, 200, 800);
$my-theme-accent: mat.define-palette(mat.$cyan-palette);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$light-theme: mat.define-light-theme( ( color: ( primary: $my-theme-primary, accent: $my-theme-accent, warn: $my-theme-warn, ), ) );

// ====================================
// Make sure to have a dark background
// Dropdowns will blend in with light
// backgrounds.
// ====================================
$dark-theme: mat.define-dark-theme( ( color: ( primary: $my-theme-primary, accent: $my-theme-accent, warn: $my-theme-warn, ), ) );

// =====================================
// always include only once per project
// =====================================

.dark-theme {
  // use our theme with angular-material-theme mixin
  //  @include angular-material-theme($dark-theme);
  //  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($dark-theme);
  background-color: black;

  .mat-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.light-theme {
  // use our theme with angular-material-theme mixin
  //  @include angular-material-theme($dark-theme);
  //  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);
  background-color: white;

  .mat-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
