@use '@angular/material' as mat;
@import "~@mat-color/sass/mat-color";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@include mat.core();

$my-theme-primary: mat.define-palette(mat.$indigo-palette, 500, 200, 800);
$my-theme-accent: mat.define-palette(mat.$cyan-palette);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$light-theme: mat.define-light-theme( ( color: ( primary: $my-theme-primary, accent: $my-theme-accent, warn: $my-theme-warn, ), ) );

$dark-theme: mat.define-dark-theme( ( color: ( primary: $my-theme-primary, accent: $my-theme-accent, warn: $my-theme-warn, ), ) );

.dark-theme {
  // use our theme with angular-material-theme mixin
  //  @include angular-material-theme($dark-theme);
  //  @include mat.core-theme($light-theme);
  @include mat.all-component-colors($dark-theme);
  background: mat.get-color-from-palette(mat.$deep-purple-palette);

  .mat-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
}

.light-theme {
  // use our theme with angular-material-theme mixin
  //  @include angular-material-theme($dark-theme);
  //  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);
  background: mat.get-color-from-palette($dark-theme, 'lighter');

  .mat-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

}


